{% extends 'base.html.twig' %}

{% block title %}
    Categorie : {{ type }}
{% endblock %}

{% block body %}
    {# Permet d'afficher les variables passé depuis mon controller. #}
    <h1>Categorie : {{ type }}</h1>
{% endblock %}

