{% extends 'base.html.twig' %}

{% block title %}
    Categorie : {{ category.name }}
{% endblock %}

{% block body %}
    <h1>
        {{ category.name }}
    </h1>
    <ul>
        {% for event in category.events %}
            <li>{{ event.title }} <em><small>({{ event.category.name }})</small></em></li>
        {% endfor %}
    </ul>
{% endblock %}

