{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <h1>
        Accueil
    </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequuntur dicta dolor dolores eaque
        earum eveniet excepturi, expedita illo impedit ipsa ipsam laudantium natus nostrum nulla quam quos, repellendus,
        velit?</p>
{% endblock %}



