<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Master Event!{% endblock %}</title>

        {% block stylesheets %}
            {# -- Ici repose mon code CSS -- #}
            {# -- Par ex. Bootstrap CSS, etc... -- #}
        {% endblock %}
    </head>
    <body>

        {# -- Chargement de mon header -- #}
        {% include 'partials/_header.html.twig' %}

        {# -- Dans body, le contenu de ma page -- #}
        {% block body %}{% endblock %}

        {# -- Chargement de mon footer -- #}
        {% include 'partials/_footer.html.twig' %}

        {% block javascripts %}
            {# -- Ici repose mon code JS -- #}
            {# -- Par ex. Bootstrap JS, etc... -- #}
        {% endblock %}
    </body>
</html>
